* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  .kolker-brush-regular {
    font-family: "Kolker Brush", cursive;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top:35vh;
    font-size: 3rem;
    border:1px solid red;
  }
ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.hello{
  display: flex;
  justify-content: space-between;
  width: 80%;
  top:90vh;
  text-decoration: none;
  position: absolute;
}
a{
  text-decoration: none;
  font-size: 1.2rem;
  color:black;
  opacity: 85%;
}
.hero {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero img{
  width: 90%;
  height: 100%;
}
.responsive-menu{
    display: none;
}
.responsive-menu.visible{
    display: block;
    z-index: 9999;
}

@media (max-width: 800px) {
   nav a{
    display: none;
   }
   .hamburger{
    display: block;
    height: 50px;
    width: 50px;
    z-index: 999;
  }
  
}
